[web]
0.0.0.0

[web:vars]
server_name=hoge.example.com
redmine_server_name=redmine.example.com
jenkins_server_name=jenkins.example.com
jenkins_admin_username=admin
jenkins_admin_password=admin
redmine_database_username=admin
redmine_database_password=admin
